h1 {
    color: red;
}

h2 {
    color: blue;
}

p {
    color: white;
}

.odd {
    background-color: blueviolet;
    color: white;
    font-weight: 900;
}

.even {
    background-color: yellow;
    color: green;
    font-weight: 900;
}

.young {
    background-color: lightblue;
}

.adult {
    background-color: orangered;
}

.old {
    background-color: crimson;
}